.container {
  padding: 20px;

  text-align: center;
  background-color: white;
  font-family: "Oswaid", sans-serif;
}

.title {
  margin-top: 40vh;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-right: 50%;
  color: #0a2472;
  font-weight: 700;
}
.Mills{
  position: relative;
  display: flex;
  margin-left: 50%;
  margin-top: -20%;

}

.cardsContainer {
  margin-top: 8vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 4px solid #006fb9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  margin: 10px;
  text-align: left;
  transition: transform 0.2s;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #2599121A;
  border: 1px solid #2599124D
}

.icon {
  font-size: 2rem;
  color: #259912;
}
.Headings {
  color: #123499;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 1.5rem;
  color: #006fb9;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  color: #333;
  font-family: "Raleway", sans-serif;
}
@media (max-width:1280px) {
  .cardsContainer{
    padding-right:5%;
    padding-left: 5%;
  }
}
@media (max-width: 1119px) {
  .cardsContainer {
    justify-content: center;
  }

  .card {
    flex: 0 1 calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 calc(50% - 20px);
    margin: 10px;
  }
}
@media (max-width:430px) {
  .title{
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .container{
    margin-top: -40%;
  }
  .Mills {
    margin-top: 10px;
    margin-left: 0;
  }

  .title {
    font-size: 1.8rem;
    margin-right: 0;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 1.5rem;
    margin-top: 10vh;
  }

  .Mills {
    margin-top: 5px;
  }
}