.container {
    background-color: white;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}

.title {
    color: #006FB9;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Oswald';
    margin-right: 660px;
    margin-top: 100px;
}

.title span {
    color: #011860;
}

.title::after {
    content: '';
    display: block;
    width: 17%;
    height: 1px;
    margin-top: 1rem;
    background-color: #123499;
    position: absolute;
}

.bgimg1 {
    margin-right: 900px;
    margin-top: 50px;
}

.image {
    width: 258px;
    height: 279px;
}

.title2 {
    color: #006FB9;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Oswald';
    margin-right: 600px;
    margin-top: -100px;
}

.title2 span {
    color: #011860;
}

.description {
    margin-top: 2rem;
    margin-right: 450px;
    width: 497px;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bgimg2 {
    margin-top: -250px;
    margin-left: 550px;
}

.image2 {
    width: 235px;
    height: 235px;
}

.bgimg3 {
    margin-right: 550px;
    margin-top: 100px;
}

.image3 {
    width: 245px;
    height: 245px;
}

.title3 {
    color: #011860;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Oswald';
    margin-left: 500px;
    margin-top: -200px;
}

.title3 span {
    color: #006FB9;
}

.description2 {
    margin-top: 2rem;
    margin-left: 530px;
    width: 497px;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bgimg4 {
    margin-left: 900px;
    margin-top: -150px;
}

.image4 {
    width: 286px;
    height: 298px;
}

.title4 {
    color: #011860;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Oswald';
    margin-right: 400px;
}

.title4 span {
    color: #006FB9;
}

.description3 {
    margin-top: 2rem;
    margin-right: 400px;
    width: 497px;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bgimg5 {
    margin-right: 800px;
    margin-top: -100px;
}

.image5 {
    width: 286px;
    height: 298px;
}

.bgimg6 {
    margin-left: 700px;
    margin-top: -400px;
}

.image6 {
    width: 165.9px;
    height: 165.9px;
}

@media (min-width: 1440px) {
    .title {
        margin-right: 800px;
    }

    .bgimg1 {
        margin-right: 1000px;
    }

    .title2 {
        margin-right: 700px;
    }

    .description {
        margin-right: 500px;
        width: 550px;
        font-size: 18px;
    }

    .bgimg2 {
        margin-left: 600px;
    }

    .image2 {
        width: 250px;
        height: 250px;
    }

    .bgimg3 {
        margin-right: 700px;
    }

    .image3 {
        width: 260px;
        height: 260px;
    }

    .title3 {
        margin-left: 600px;
    }

    .description2 {
        margin-left: 600px;
        width: 550px;
        font-size: 18px;
    }

    .bgimg4 {
        margin-left: 1000px;
    }

    .image4 {
        width: 300px;
        height: 310px;
    }

    .title4 {
        margin-right: 500px;
    }

    .description3 {
        margin-right: 500px;
        width: 550px;
        font-size: 18px;
    }

    .bgimg5 {
        margin-right: 900px;
    }

    .image5 {
        width: 300px;
        height: 310px;
    }

    .bgimg6 {
        margin-left: 800px;
        margin-top: -300px;
    }

    .image6 {
        width: 180px;
        height: 180px;
    }
}
