.container {
    padding: 20px;
    padding-top: 10vh;
    text-align: center;
    background-color: white;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .let {
    color: rgba(1, 24, 96, 1);
    font-size: 24px;
  }
  
  .How {
    font-size: 36px;
    color: rgba(18, 52, 153, 1);
    font-weight: 600;
  }
  
  .Work {
    color: rgba(0, 111, 185, 1);
    font-weight: 600;
    font-size: 36px;
  }
  
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .listColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px; 
  }
  
  .listItem {
    margin: 15px 0;
    text-align: left;
    width: 100%; 
  }
  
  .listItem h2 {
    color: rgba(18, 52, 153, 1);
    font-family: 'Oswaid', sans-serif;
    font-size: 1.5rem;
  }
  
  .listItem p {
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    width: 100%; 
    height: auto; 
  }
  
  .Dark {
    color: rgba(1, 24, 96, 1);

  }
  

  @media (max-width: 768px) {
    .listColumn {
      flex: 1 1 100%; 
    }
  }
  