/* 
.pageContainer {
  width: 100%;
  margin: 0;
  background-color: white;
  padding: 20px 0;
}

.headingContainer {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
margin-left: 30px;
  
}

.heading {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #011860;
  border-bottom: 1px solid #004080;
  padding-bottom: 7px;
  width: 140px;
}

.how {
  color: #123499;
  font-weight: 600;
  font-size: 36px;
}

.we {
  color: #006FB9;
  font-weight: 600;
  font-size: 36px;
}

.container {
  width: 100%;
  height: fit-content;
  margin-top: 200px;
  background: linear-gradient(180deg, rgba(46, 167, 224, 0.05) 0%, rgba(6, 17, 51, 0.05) 100%);
}

.mainContainer {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 0;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width:auto;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  box-sizing: border-box;
}

.cardsContainer .card {
  border: none;
  position: relative; 
}

.card {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.card.collapsed {
  width: 176px;
  height: 448px;
}

.card.expanded {
  width: 408px;
  height: 448px;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  pointer-events: none; 
}

.cardTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  height: 50%;
  width: 100%;
  transform-origin: bottom right;
  position: relative; 
  z-index: 2; 
}

.titleVertical {
  transform: rotate(-90deg);
  white-space: nowrap;
  position: relative;
  margin-left: 350px;
}

.titleHorizontal {
  transform: rotate(0deg);
text-align: left;
  position: relative;
}

.cardTitle {
  margin: 0;
  padding: 10px;
  margin-bottom: 200px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 59.28px;
  z-index: 2; 
}

.cardDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 110px;
  font-size: 14px;
  width: 350px;
  font-weight: 200;
  overflow: hidden;
padding-left: 3.3%;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(100%);
  z-index: 2; 
}

.descriptionVisible {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
}

.descriptionHidden {
  opacity: 0;
  max-height: 0;
  transform: translateY(100%);
}

@media screen and (max-width: 600px) {
  .cardsContainer {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card.expanded {
    width: 100%;
  }
}


@media (max-width:1280px) {
  .heading{
    margin-left: 10%;
  }
  .cardsContainer{
padding-right:7% ;
  }
}  */






























 .pageContainer {
  width: 100%;
  margin: 0;
  background-color: white;
  padding: 20px 0;
}

.headingContainer {
  position: relative;
  margin-bottom: 40px;
margin-left:160px ;
  
}

.heading {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #011860;
  border-bottom: 1px solid #004080;
  padding-bottom: 7px;
  width: 140px;
  font-family: 'Oswald';
}
.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.how {
  color: #123499;
  font-weight: 600;
  font-size: 36px;
  transition: all 0.6s ease-in-out;
}

.we {
  color: #006FB9;
  font-weight: 600;
  font-size: 36px;
  transition: all 0.6s ease-in-out;
}

.container {
  width: 100%;
  height: fit-content;
  margin-top: 200px;
  background: linear-gradient(180deg, rgba(46, 167, 224, 0.05) 0%, rgba(6, 17, 51, 0.05) 100%);
}

.mainContainer {
  width: 100%;
  max-width: 1090px;
  margin: 100px auto 0;
}

.cardsContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
padding-right: -100px;
}

.cardsContainer .card {
  border: none;
}

.card {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 150px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.card.collapsed {
  width: 200px;
  height: 448px;
}

.card.expanded {
  width: 448px;
  height: 448px;
}

.cardTitleWrapper {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  transition: transform 0.6s ease-in-out;
  height: 50%;
  width: 100%;
  transform-origin: bottom right;
}

.titleVertical {
  transform: rotate(-90deg);
  white-space: nowrap;
  position: relative;
  margin-left: 350px;
  transition: all 0.6s ease-in-out;
}

.titleHorizontal {
  transform: rotate(0deg);
  margin-right: 90%;
  position: absolute;
  transition: all 0.7s ease-in-out;
}

.cardTitle {
  margin: 0;
  padding: 10px;
  margin-bottom: 200px;
  margin-right: 1vw;
  transition: transform 0.6s ease-in-out;
  font-family: "Oswald";
  font-size: 37px;
  font-weight: 900;
  line-height: 59.28px;
}

.cardDescription {
  position: absolute;
  margin-top: 250px;
  font-family: 'Raleway',sans-serif;
  margin-bottom: 160px;
  margin-right: 5%;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  width: 360px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out, transform 0.6s ease-in-out;
  transform: translateY(100%);
}

.descriptionVisible {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
}

.descriptionHidden {
  opacity: 0;
  max-height: 0;
  transform: translateY(100%);
}
@media (min-width: 1440px) {
  .headingContainer{
    margin-left:15vw;
    margin-top: -4vw;
  }


  }
  @media (min-width:1680px) {
    .headingContainer{
      margin-left:20vw;
      margin-top: -6vw;
    }
  }
@media screen and (max-width: 600px) {
  .cardsContainer {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card.expanded {
    width: 100%;
  }
}  


