.container {
    display: flex;
    width: 100%;
    font-family: 'Oswald';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: auto;
  }
  
  .title {
    color: #011860;
    width: 223px;
    font-size: 40px;
    font-weight: 600;
    font-family: "Oswald";
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 5rem;
  }
  
  .title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #123499;
    position: absolute;
    left: 0;
    bottom: -9px;
  }
  
  .title span {
    color: #006FB9;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 7vh;
    justify-content: center;
    align-items: flex-start;
    max-width: 970px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 calc(50% - 15px);
    box-sizing: border-box;
  }
  
  .image {
    width: 465px;
    height: 179px;
    display: block;
  }
  
  .cardContent {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    max-width: 465px; 
    gap: 15px; 
  }
  
  .number {
    font-size: 64px;
    color: #123499;
    font-weight: 600;
    width: 93px;
    height: 87px;
    font-family: 'Oswald';
    background: #407BFF33; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10px;

  }
.number1{
  margin-top: 10px;
}
.number4{
  margin-top: 10px;
}
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1; 
  }
  
  .descriptionTitle {
    font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 35.57px;
    color: #011860;
    margin-bottom: 5px;
  }
  
  .description {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.78px;
    color: black;
  }
  