@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
.container {
  background-color: white;
  font-family: "Oswaid", sans-serif;
}

.Dark {
  color: rgba(18, 52, 153, 1);

}

.title {
  font-size: 40px;
 color: #006FB9;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-top: 5%;
  padding-bottom: 4%;
  line-height: 1.5;
padding-left: 30px;
  font-family: "Oswald";
}

.iconCon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  z-index: 2;
}

.icon {
  width: 51px;
  height: 49px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-left: 5%;
  padding-right:5% ;
}

.cardSmall1, .cardSmall2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* 
.cardSmall1 {

} */

.cardSmall2 {

  width: 352px;
  height: 560px;
  border-radius: 0px 30px 30px 0px;
  background-color: #ffffff;
  margin-right: 30px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.cardLarge {
  width: 406px;
  height: 725px;
  border-radius: 30px;
  background: linear-gradient(172.51deg, #006FB9 -0.92%, #123499 117.44%);
  margin: 0;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.cardLarge h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 70px;
  margin-left: 50px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 59.28px;
  text-align: left;
  color: #FFFFFF;
  white-space: nowrap;
}

.description {
  margin-bottom: 2rem; 
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1; 
  text-align: left;
  width: 285px;

  margin-left: 10%;
}

.learnMoreButton {
  border: 1px solid #FFFFFF;
  margin-left: 10%;
  width: 145px;
  height: 42px;
margin-top: 1vw;
  border-radius: 15px;
}


.learnMoreButton:hover{
  background-color: #0056b3;
  color: #ffffff;
  border: 1px solid #0056b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.cardTitle {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #011860;
  margin-top: 6vw;
  margin-right: 27%;
}

.cardSmall2 strong {
  color: #011860;
  font-size: 18px;
  font-weight: 600;
}

.bulletList {
  list-style: none;
  padding-left: 0;
  margin-top: 10%;
  margin-bottom: 30%;
  margin-left: 5%;
}
.bulletList p{
font-size: 12px;
width: 250px;
margin-top:  1rem;
}
.bulletList li {
  position: relative;
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #333333;
  padding-left: 30px; 
}

.bulletList li::before {
  content: '•';
  font-size: 50px; 
  color: #011860;
  position: absolute;
  left: 0;
  top: -22px;
}

.bulletItem {
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; 
  color: #333333; 
}

.imageTop, .imageBottom {
  width: 100%;
  height: auto; 
 padding-left: 10%;




}
.top{
  width: 328px;
  height: 346px;
  margin-top: 13%;
  border-radius:  30px 0 0px 0px;
  object-fit: cover;
}

.bottom {
  width: 328px;
  height: 273px;
  border-radius: 0 0 0px 30px;
  object-fit: cover ;
}
@media (min-width: 1320px) {
.title{
  padding-left: 5%;
}
.cardsContainer{
  margin-top: -5vw;
}
.top{
  width: 400px;
}
.bottom{
  width: 360px;
}
}


 @media (min-width:1280px) and (max-width:1920px) {
  .title{
    margin-left: 7%;
  }
  .cardsContainer{
    padding-left:5% ;
    padding-right: 5%;
  }
}
@media (max-width: 1060px) {
  .cardsContainer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .cardSmall1, .cardSmall2, .cardLarge {
    width: 100%;
    height: auto;
    margin: 15px 0;
  }

  .cardSmall1, .cardSmall2 {
    margin: 15px 0;
    border-radius: 0;
  }

  .cardLarge {
    margin: 15px 0;
  }

 

  .description {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
  }

  .learnMoreButton {
    width: 130px;
    height: 38px;
    margin-left: 0;
  }

  .cardTitle {
    font-size: 24px;
    margin-right: 0;
  }

  .bulletList {
    margin-left: 5%;
  }

  .top, .bottom {
   border-radius:30px ;
  }
}


@media (max-width: 768px) {
  .title {
    font-size: 33px;
text-align: center;
  }

  .description {
    font-size: 14px;
  }

  .learnMoreButton {
    width: 120px;
    height: 35px;
  }

  .cardTitle {
    font-size: 34px;
  }

  .bulletList {
    margin-left: 2%;
  }
}
@media (min-width:1920px) {
  .description{
 
  }
  .cardLarge h1{
margin-left: 10%;
  }
  .cardsContainer{
    padding-left:4% ;
    padding-right: 4%;
  }

} 