.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-family: 'Oswald';
    background-color: white;
    flex-direction: column;
    padding-bottom: 50px;
height: auto;
}
.title {
    color: #011860;
    width: 223px;
    font-size: 40px;
    font-weight: 600;
    font-family: "Oswald";
    position: relative;
    display: inline-block;
}

.title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #123499;
    position: absolute;
    left: 0;
    bottom: -9px;
}


  .title span {
    color: #006FB9;
  }
  
.textcontainer {
    max-width: 800px;
    margin-right: 20%;
  }
  .benefitItem::marker {
    color: #123499;
    font-size: 13px; 
}
  .benefitsList {
    list-style-type: disc;
    padding-left: 20px;
    font-family: 'Raleway',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: black;
    margin-top: 2rem;
    
  }
  .benefitsList span{
    font-family: 'Raleway',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 35px;
text-align: left;
color: #123499;

  }
  .benefitItem {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  .imagecontainer{
position: absolute;
    margin-left: 55%;
    margin-top: 6%;

  }
  .image{
    width: 360px;
    height: 343px;

  }