
.leadershipSection {
    position: relative;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 15%;
    background-color: #f7f7f7;
    font-family: 'Oswald';
}

.backgroundImage {
    position: absolute;
    top: 200px; 
    left: 0;
    width: 100%;
    height: auto; 
    z-index: 1;
    opacity: 70%;
}


.heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #006FB9;
    position: relative;
    z-index: 1;
}

.heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 49%;
    transform: translateX(-50%);
    width: 20%;
    height: 1px;
    background-color: #123499;
}

.Our {
    color: #123499;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 90px;
    margin-top: 250px;
    position: relative;
}

.card {
    border-radius: 15px;
    width: 396px;
    height: 395px;
    text-align: center;
    position: relative;
    z-index: 1;
    background: linear-gradient(173.19deg, rgba(69, 180, 255, 0.2) -39.79%, rgba(255, 255, 255, 0.2) 102.07%);
    padding: 60px 20px 20px;
    border: 1px solid transparent;
    border-image: linear-gradient(169.24deg, #45B4FF 7.99%, #FFFFFF 112.99%);
    border-image-slice: 1;
    backdrop-filter: blur(5px);
}

.imageContainer {
    position: absolute;
    left: 50%;
    margin-top: -250px;
    transform: translateX(-50%);
    width: 303px;
    height: 315px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #123499;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.5);
  }
  

.image {
    width: 100%;
    height: auto;
    object-fit: cover; 
    transition: transform 0.3s ease; 
    opacity: 90%;
    transform: scale(1.1);
}


.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 70px 0 10px;
    color: #006FB9;
}

.wes {
    color: #011860;
}

.title {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 23.48px;
    margin-bottom: 20px;
    color: #000000;
}

.description {
    font-size: 15px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
}

.readMore {
    width: 126.05px;
    height: 40.63px;
    gap: 0px;
    border-radius: 100px;
    color: #011860;
    border: 1px solid #123499;
    background: transparent;
}

.readMore:hover {
    background-color: #ffffff;
}

@media (min-width: 1440px) {
    .heading::after {
        width: 18%;
        left: 49%;

    }
     
     }
@media (max-width: 1000px) {
    .heading {
        font-size: 32px; 
    }

    .cardContainer {
        margin-top: 150px; 
        gap: 140px; 
    }

    .card {
        width: 100%; 
        max-width: 400px; 
        height: auto;
        margin: 0 auto;
        padding: 30px 10px;
    }

    .imageContainer {
        width: 200px;
        height: 200px; 
        margin-top: -150px; 
    }

    .name {
        font-size: 1.2rem; 
    }

    .title {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }

    .readMore {
        width: auto;
        padding: 8px 16px;
    }
}
