.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mainContainer p{
  white-space: nowrap;
}

.headingContainer {
  width: 100%;
  background: #ffffff;
padding-bottom:70px ;
padding-top: 70px;
padding-left: 4%;

}
.key{
  font-family: "Oswald" ,sans-serif;
font-size: 36px;
font-weight: 600;
line-height: 53.35px;
text-align: left;
color: #123499;

}
.phases{
  font-weight: 600;
  color: #006FB9;

}
.perm {
  white-space: nowrap;
margin-bottom: 30px;
}
.fin{
  margin-top: 30px;
}
.vertical {
  width: 1px;
  height: 50px;
  background-color: white;
  display: inline-block;
}

.heading {
  color: #004080;
  font-size: 2.5rem;
  width: 200px;
  white-space: nowrap;
  margin: 0;
  border-bottom: 1px solid #004080;
  padding-bottom: 10px;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 500px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01186099;
  z-index: 2;
}

.keyPhasesContainer {
  position: relative;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.iconStructure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px; /* Default gap for larger screens */
  width: 100%;
  max-width: 800px;
  position: relative;
}

.iconItem {
  text-align: center;
  color: #ffffff;
  position: relative;
}

.iconItem::before {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.iconItem:nth-child(1)::before,
.iconItem:nth-child(2)::before,
.iconItem:nth-child(3)::before {
  top: 5rem;
  left: 16rem;
  width: 150px;
}

.iconItem:nth-child(4)::before,
.iconItem:nth-child(5)::before,
.iconItem:nth-child(6)::before {
  top: 2rem; 
  left: 16rem;
  width: 150px;
}

.iconItem:nth-child(3)::before,
.iconItem:nth-child(6)::before {
  display: none; 
}

.doubleCircle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.doubleCircle::before,
.doubleCircle::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.doubleCircle::before {
  border-width: 2px;
  width: 100%;
  height: 100%;
}

.doubleCircle::after {
  border-width: 1px;
  top: 12px; 
  left: 12px; 
  width: calc(100% - 24px); 
  height: calc(100% - 24px); 
}

.icon {
  font-size: 1.6rem; 
  z-index: 2;
}

.verticalLine {
  position: absolute;
margin-left: 610px; 
margin-top: 140px;

  width: 1px;
  height: 70px;
  background-color: white;
  z-index: 3;
}

.keyPhasesContainer {
  position: relative;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

@media (max-width: 1000px) {
  .verticalLine {
   
    height: 40px;
    margin-right: 30px;

 
  }
  .backgroundContainer{
    height: 100%;
  }
  .iconStructure {
    gap: 60px; 
  }

  .iconItem:nth-child(1)::before,
  .iconItem:nth-child(2)::before,
  .iconItem:nth-child(3)::before {
    width: 100px;
  }

  .iconItem:nth-child(4)::before,
  .iconItem:nth-child(5)::before,
  .iconItem:nth-child(6)::before {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .iconStructure {
    grid-template-columns: 1fr; 
    gap: 30px;
  }

  .iconItem::before {
    display: none; 
  }
  .verticalLine{
    display: none;
  }
}
