
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(88.68deg, #01002E 1.13%, #123499 104.18%);
  position: relative; 
}

.logoImage {
  width: 100%;
  height: auto;
}

.navLinks {
  display: flex;
  gap: 60px;
  font-weight: 200;
  margin-right: 5%;
  align-items: center;
}

.navLink, .navLinkContact {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.navLinkContact {
  width: 121px;
  height: 50px;
  border-radius: 10px;
  background: #006FB9;
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none; 
}
.navLinkContact:hover{
  background-color: #0056b3;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .navLinks {
    position: absolute;
    top: 60px; 
    right: 0px; 
    background: linear-gradient(88.68deg, #01002E 1.13%, #123499 104.18%);
    width: 100%;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0) translateY(-10px);
    transform-origin: top;
    transition: max-height 0.6s ease, opacity 0.4s ease, transform 0.6s ease;
  }
  
  .navLinks.open {
    max-height: 500px; 
    opacity: 1;
    transform: scaleY(1) translateY(0);
  }
  .hamburger {
    display: flex;
  }
} 




