.container {
    position: relative;
    width: 100%;
    padding: 50px;
    text-align: center;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFFB2;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1;
}

.container h1 {
    color: #006FB9;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 59.28px;
}

.contact {
    color: #123499;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    margin-bottom: 2px;
}

.container input,
.container textarea {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: black;
    box-sizing: border-box; 
}

.container input::placeholder,
.container textarea::placeholder {
    color: #00000073;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 13px;
 
   
}

.container textarea {
    width: 410px;
    height: 79px;
    border-radius: 20px;
    resize: none;
}

.container button {
    width: 128px;
    height: 37px;
    margin-top: 1rem;
    border-radius: 15px;
    background: linear-gradient(90.05deg, #0A2472 0.05%, #006FB9 122.59%);
    
}

.container button:hover {
    background-color: #005bb5;
}
@media (max-width:768px) {
    
}
