.container {
  display: flex;
  background: white;
}
.containerBackground {
  position: relative;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  background-color: rgb(228, 239, 241);
}
.box1 {
  position: absolute;
  width: 147px;
  background:#FFFFFFE5;
  height: 79px;
  border-radius: 100px;
  right: 540px; 
  box-shadow: 4px 4px 20px 0px #006FB94D;
  top: 50px; 
  border: 1px solid #2EA7E0B2;
  z-index: 1;
}

.project1 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
}

.box1 h6 {
  position: absolute;
  color: black;
  font-size: 12px;
  left: 70px; 
  top: 20px;
}

.box1 p {
  position: absolute;
  color: #000000B2;
  font-size: 10px;
  left: 70px;
  font-weight: 300;
  top: 35px;
}



.box2 {
  position: absolute;
  width: 156px;
  background:#FFFFFFE5;
  height: 121px;
  border-radius: 39.5px;
left: 530px; 
  box-shadow: 4px 4px 20px 0px #006FB94D;
  top: 200px; 
  border: 1px solid #2EA7E0B2;
  z-index: 1;
}

.project2 {
  position: absolute;
  width: 79px;
  height: 83px;
  top: 19px;
  left: 10px;
}

.box2 h6 {
  position: absolute;
  color: black;
  font-size: 12px;
  left: 90px; 
  top: 30px;
}

.box2 p {
  position: absolute;
  color: #000000B2;
  font-size: 10px;
  left: 90px;
  font-weight: 300;
  top: 50px;
}



/*  */
.box3 {
  position: absolute;
  width: 175px;
  background:#FFFFFFE5;
  height: 94px;
  border-radius: 39.5px;
  right: 560px; 
  box-shadow: 4px 4px 20px 0px #006FB94D;
  top: 430px; 
  border: 1px solid #2EA7E0B2;
  z-index: 1;
}

.project3 {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 4px;
  left: 10px;
}

.box3 h6 {
  position: absolute;
  color: black;
  font-size: 12px;
  left: 90px; 
  top: 20px;
}

.box3 p {
  position: absolute;
  color: #000000B2;
  font-size: 10px;
  left: 90px;
  font-weight: 300;
  top: 40px;
}





.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}
.containerText {
  position: relative;
  top: 100px;
  left: 11vw;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 71.14px;
  text-align: left;
}
.textDark {
  color: #0a2472;
}
.textlight {
  color: #006fb9;
}

.rotatingWords {
  display: inline-block;
  position: relative;
  width: 63%;
  opacity: 70%;
  height: 1em;
  margin-bottom: -4px;
  overflow: hidden;
  font-size: 1em;
}

.rotatingWords span {
  position: absolute;
  height: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.rotatingWords span:nth-child(1) {
  animation: rotateWords 9s infinite;
}

.rotatingWords span:nth-child(2) {
  animation: rotateWords 9s infinite;
  animation-delay: 3s;
}

.rotatingWords span:nth-child(3) {
  animation: rotateWords 9s infinite;
  animation-delay: 6s;
}

@keyframes rotateWords {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0%);
  }
  30% {
    opacity: 1;
    transform: translateY(0%);
  }
  40% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}


.TextDescription {
  margin-top: 2%;
  display: flex;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
}
.containerText button {
  margin-top: 3%;
  width: 128px;
  height: 37px;
  font-family: 'Raleway',sans-serif;
  border-radius: 15px;
  background: linear-gradient(90.05deg, #0A2472 0.05%, #006FB9 122.59%);
  font-weight: 200;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
.containerText button:hover {

  
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.backgroundImage2 {
  width: 624px;
  height: 524px;
}
.containerImage2 {
  position: absolute;
  right:11%;
  margin-top: -5%;
  transform: translateY(-50%);
  display: flex;
}
.lineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  gap: 110px;
  margin-top: 23px;
}

.verticalLine {
  width: 8px;
  height: 183px;
  border-radius: 20px;
  background: #123499;
  margin-bottom: 20px;
}
@media (min-width:1440px) {
  .containerText{
    margin-left: 3vw;
  }
}
@media (max-width: 430px) {
    .containerBackground{
        width: 100%;
    }
  .containerText {
    margin-left: -6%;
  }
  .containerText span {
    font-size: 36px;
  }
  .containerImage2 {
    margin-top: -100%;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .containerImage2 {
    position: relative;
    height: auto;
    width: 80%;
    justify-content: center;
    margin-top: 30%;
    right: auto;
    transform: none;
  }
  .backgroundImage2 {
    width: 400px;
    height: 400px;
  }
.containerText{
    left: 25%;
}
  .containerBackground {
    height: auto;
    padding-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerImage2 {
    margin-left: 10%;
  }
  .backgroundImage2 {
    width: 400px;
    height: 400px;
  }
  .verticalLine {
    width: 8px;
    height: 140px;
    border-radius: 20px;
    background: #123499;
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .container {
    height: auto;
  }
  .containerText {
    font-size: 39px;
  }


  .containerText {
    margin-bottom: 15px;
  }

  .containerImage2 {
    margin-top: 30%;
  }
}
